body {
	padding-top: 1em;
	padding-left: 10%;
	padding-right: 10%;
	font-family: 'Delius';
}
#content{
	width: 800px;
	padding: 10px 25px;
	padding-bottom: 25px;
	border-radius: 15px;
	border: 1px solid #dbdbdb;
}
#updateDiv {
	margin-top: 15px;	
}
#updateDiv textarea {
	border-radius: 5px;
}
#preview {
	background-color: #eaeaea;
	width: 30em;
	font-size: 1.2em;
	font-family: arial;
	padding-left: 10px;
	padding-top: 5px;
}
#prev {
	margin-top: 10px;
}
#prev div.status {
	background-color: #f8f8f8;
	margin-bottom: 1px;
	padding: 8px;
}
#prev div.date {
	margin-top: 20px;
	padding-bottom: 4px;
	color: #aaaaaa;
}
#status {
	height: 3em;
	width: 30em;
	font-size: 1.2em;
	font-family: arial;
	padding-left: 10px;
	padding-top: 5px;
}
.high {
	background-color: 'grey';
	border-bottom: soid 1px blue;
	padding: 0 4px;
	cursor: pointer;
}

.feature {
	/*
	background-color: #00bfff;
	border-bottom: 1px solid #00008b;
	*/
	font-weight: bold;
	border-radius: none;
}
.progress {
	/*background-color: #f0e686;*/
	border: 1px solid #9f9f00;
	border-radius: 5px;
}

.completed {
	/*background-color: #32cd32;*/
	border: 1px solid #32cd32;
	border-radius: 5px;
}

.blocked {
	/*background-color: #dc143c;*/
	border: 1px solid #dc143c;
	border-radius: 5px;
}


#report {
	width: 85%;
	border: 1px solid #dbdbdb;
	border-radius: 20px;
}
#report table {
	width: 96%;
	margin-left: 2%;
	margin-bottom: 2em;
	margin-top: 1em;
}
#report table td {
	padding: 10px 4px;
	width: 15em;
	vertical-align: top;
}

#report table tr td:nth-child(even) {
	background-color: #f8f8f8;
}
#report table tr td:nth-child(odd) {
	background-color: #fafafa;
}
#report table tr td:nth-child(1){
	width: 45px;
	background-color: white;
	font-size: 0.9em;
	text-align: right;
	padding-top: 0.6em;
}
#report table tr:nth-child(1) td {
	background-color: white;
	text-align: center;
}
#report .clabel {
	background-color: #cf1166;
	color: #fff;
	padding: 4px 8px;
	border-radius: 8px;
}